<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utskelompokputih">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ExtendedAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TampilSiswa"
            android:label="@string/app_name"
            android:theme="@style/ExtendedAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.TampilSiswa" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TampilSemuaSiswa"
            android:label="@string/app_name"
            android:theme="@style/ExtendedAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.TampilSemuaSiswa" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TampilSebagianSiswa"
            android:label="@string/app_name"
            android:theme="@style/ExtendedAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.TampilSebagianSiswa" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SekolahActivity">
            <intent-filter>
                <action android:name="android.intent.action.SekolahActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>